<!doctype html>
<html lang="en">
<head>
  <title>Map of U.S. Named Places</title>
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="css/site.css" />
  <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
  <h1 id="title">Named Places in the US</h1>
  <div id="map"></div>
  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="/js/map.js"></script>
  <script>
    //center the map and set the zoom level
    var map = L.map('map').setView([37.8, -122.3], 10);

    //Add a layer group to hold the pins
    var markerLayerGroup = L.layerGroup().addTo(map);

    //initialize the map with a tile layer and set max zoom and attribution
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      minZoom: 5,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
    }).addTo(map);

    map.on('dragend', refreshMap);
    map.on('zoomend', refreshMap);
    map.whenReady(refreshMap)
  </script>
  <span id="fossribbon"><a href="https://openshift.redhat.com/app/console/application_types/custom?name=places&initial_git_url=https%3A%2F%2Fgithub.com/ryanj/flask-leaflet.git&cartridges[]=nodejs-0.10&cartridges[]=cart2">Run me on OpenShift</a></span>
/bin/bash: indent: command not found
</html>
